* {
    box-sizing: border-box;
    font-family: 'Circe';
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 976px;
    width: 100%;
}

.btn-reset {
    background: none;
    outline: none;
    border: none;
}

.btn {
    background-color: var(--yellow);
    border-radius: var(--border-rad);
    font-weight: bold;
}

.flex {
    display: flex;
}

